@model WebApplication1.Models.ViewModel.HybridViewModel;
@{
    ViewData["Title"] = "Error";
}

<style>

  .error{
    display: flex;
    flex-direction: column  ;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    }
</style>
  

<div class="container error" >
  
    <h2 class="text-danger">An error occurred while processing your request.</h2>

    @if (ViewBag.errorMessage != null)
    {
        <p style="color: red;"> @ViewBag.errorMessage </p>
    }
</div>


@* @if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
} *@

