@{
    ViewData["Title"] = "Dashboard";
}



<div class="container pt-5" style="min-height: 100vh;">

    <h2> Buyer Dashboard!</h2>

    <div class="d-flex flex-column">
        <a href="/User/changeRoleToSeller">Go to Seller's Dashboard </a>

        <a href="/buyer/cart"> Go to your cart</a>
        <a href="/buyer/orders"> Your Orders</a>
        <a href="/User/Logout">Logout</a>

    </div>



</div>
    `