<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HBS | {{pageTitle}}</title>
</head>
<body>
    
    <h1> Welcome to express Ts {{username}}</h1>
</body>
</html>