<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HBS | {{pageTitle}}</title>
</head>
<body>
    



    <h1> This is login </h1>


    <form method="post">

        <input placeholder="Email here" type="email" name="email" />
        <input placeholder="Password here" type="password" name="password" />


        <button type="submit"> Login </button>

    </form>




</body>
</html>