@page
@model WebApplication1.Pages.UserProfileModel
@{
}




<div class="container">

<h1> This is the secure dashboard will be accessible only after succesfull login  </h1>

<img src="@Model.profilePic" width=100 alt="no-image found">

<p><b>Logged in user is </b>: @Model.username</p>


</div>





