
    .myLogin {

        border: 1px solid grey;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 4px 4px 10px 10px rgba(128, 128, 128, 0.251);
        /* background-image: url("../image.jpg"); */

    }

