
@{
}


@model WebApplication1.Models.ViewModel.HybridViewModel

<div class="hero">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-5">
                <div class="intro-excerpt">
                    <h1>Checkout</h1>
                </div>
            </div>
            <div class="col-lg-7">

            </div>
        </div>
    </div>
</div>


<div class="untree_co-section">
    <div class="container">


        <div class="row mb-5">
            <div class="col-md-12">
                <div class="border p-4 rounded" role="alert">
                    Returning customer? <a href="#">Click here</a> to login
                </div>
            </div>
        </div>


        <div class="row">

            
            <div class="col-md-6 mb-5 mb-md-0">
                <h2 class="h3 mb-3 text-black">Billing Details</h2>


     

            <form method="post" action="/Buyer/CreateAddress" class="p-3 p-lg-5 border bg-white">

                    <div class="form-group">
                        <label  class="text-black">Country <span class="text-danger">*</span></label>

                        

                        <select class="form-control" name="Country">
                            
                       @if(string.IsNullOrEmpty(Model?.Address?.Country)) {
                           <option >Select Your Country </option>
                         }
                            <option value="India">India</option>
                            <option value="Bangladesh">Bangladesh</option>
                            <option value="Sri lanka">Sri lanka</option>
                            <option value="Nepal">Nepal</option>
                        </select>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-6">
                            <label class="text-black">First Name <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" name="FirstName" value="@Model?.Address?.FirstName">
                        </div>

                        <div class="col-md-6">
                            <label class="text-black">Last Name <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" name="LastName" value="@Model?.Address?.LastName">
                        </div>
                    </div>

                
                    <div class="form-group ">

                     <label class="text-black">Street <span class="text-danger">*</span></label>
                     <input type="text" class="form-control" name="Street1" value="@Model?.Address?.Street1" placeholder="Street 1">


                     <label class="text-black">Apartment <span class="text-danger">*</span></label>
                     <input type="text" class="form-control " name="Street2" value="@Model?.Address?.Street2" placeholder="Apartment, suite, unit etc.">
                
                  
                    <label class="text-black">District <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" name="District" value="@Model?.Address?.District" placeholder="District">

                    </div>

                    <div class="form-group row">

                        <div class="col-md-6">
                            <label class="text-black">State <span class="text-danger">*</span></label>
                            <input type="text" class="form-control"name="State" value="@Model?.Address?.State">
                        </div>
                        <div class="col-md-6">
                            <label for="c_postal_zip" class="text-black">Postal / ZipCode <span class="text-danger">*</span></label>
                            <input type="text" class="form-control"  name="Pincode" value="@Model?.Address?.Pincode">
                        </div>
                    </div>

                    <div class="form-group row mb-3">
                        <div class="col-md-6">
                            <label  class="text-black">Landmark <span class="text-danger">*</span></label>
                            <input type="text" class="form-control"  name="Landmark" value="@Model?.Address?.Landmark">
                        </div>
                        <div class="col-md-6">
                            <label  class="text-black">Phone <span class="text-danger">*</span></label>
                            <input type="text" class="form-control"  name="Phone" placeholder="Phone Number" value="@Model?.Address?.Phone">
                        </div>
                    </div>


                        @if(!string.IsNullOrEmpty(ViewBag.ErrorMessage)){
                              <p class="text-danger">Warning : @ViewBag.ErrorMessage </p>
                        }
                

                     <div class="form-group pt-3">
                        <button class="btn btn-black btn-sm py-3 btn-block">
                            @if(Model.Address == null){<span>Add address</span>}
                            else{
                           <span> Change Address</span> }
                        </button>
                     </div>

             </form>        


                 <div class="form-group mt-3">
                        <label for="c_ship_different_address" class="text-black" data-bs-toggle="collapse"
                            href="#ship_different_address" role="button" aria-expanded="false"
                            aria-controls="ship_different_address"><input type="checkbox" value="1"
                                id="c_ship_different_address"> Ship To A Different Address?</label>
           
                        <div class="collapse" id="ship_different_address">
                           here we will show all the other addresses user have
                        </div>
                 </div>  

                  
            
                @* Add note  *@
            
               <div class="form-group mt-3 p-3 p-lg-5 border bg-white">

                <form>
                <label for="c_order_notes" class="text-black">Order Notes</label>
                <textarea name="c_order_notes" id="c_order_notes" cols="30" rows="5" class="form-control" placeholder="Write your notes here...">
                </textarea>

             
                    <button class="btn btn-black btn-sm py-3 my-4 btn-block"> Add Note</button>
                 

                </form>

              </div>


            </div>


            <div class="col-md-6">

                @* coupon code  *@

                <div class="row mb-5">
                    <div class="col-md-12">
                        <h2 class="h3 mb-3 text-black">Coupon Code</h2>
                        <div class="p-3 p-lg-5 border bg-white">

                            <label for="c_code" class="text-black mb-3">Enter your coupon code if you have one</label>
                            <div class="input-group w-75 couponcode-wrap">
                                <input type="text" class="form-control me-2" id="c_code" placeholder="Coupon Code"
                                    aria-label="Coupon Code" aria-describedby="button-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-black btn-sm" type="button" id="button-addon2">Apply</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>


                  @* your order *@

                <div class="row mb-5">
                    <div class="col-md-12">
                        <h2 class="h3 mb-3 text-black">Your Order</h2>

                        <div class="p-3 p-lg-5 border bg-white">

                            <table class="table site-block-order-table mb-3">
                                <thead>
                                    <th>Product</th>
                                    <th>Total</th>
                                </thead>
                                <tbody>

                                @foreach(var cartProduct in Model.CartProducts){

                                     <tr>
                                        <td>@cartProduct?.Product?.ProductTitle<strong class="mx-2">x</strong> @cartProduct?.Quantity </td>
                                        <td> $ @(cartProduct?.Quantity * cartProduct?.Product?.Price)</td>
                                    </tr>

                                }
                                  
                                    <tr>
                                        <td class="text-black font-weight-bold"><strong>Cart Subtotal</strong></td>
                                        <td class="text-black">$ @Model?.Cart?.CartValue</td>
                                    </tr>

                                    <tr>
                                        <td class="text-black font-weight-bold"><strong>Discount</strong></td>
                                        <td class="text-black font-weight-bold"><strong>$ 0</strong></td>
                                    </tr>
                                    <tr>
                                        <td class="text-black font-weight-bold"><strong>Order Total</strong></td>
                                        <td class="text-black font-weight-bold"><strong>$ @Model?.Cart?.CartValue</strong></td>
                                    </tr>
                                </tbody>
                            </table>


                            @if(Model?.Address != null){

                            
                            <div class="px-2 pb-2">

                                <h5 class="text-black"> Address </h5>
                                <p class="m-0"> @Model?.Address?.FirstName @Model?.Address.LastName </p>
                                <p class="m-0">@Model?.Address.Street1 , @Model?.Address.Street2 , @Model?.Address.District</p>
                                <p class="m-0">@Model?.Address.State, @Model?.Address.Pincode</p>
                                <p class="m-0">Landmark :  @Model?.Address.State</p>
                                <p class="m-0">Phone : @Model?.Address.Phone</p>

                            </div>
                            }

                        
                            <div class="border p-2 mb-3">
                                <h3 class="h6 mb-0">
                                    <a class="d-block" data-bs-toggle="collapse" href="#collapsebank"role="button" aria-expanded="false" aria-controls="collapsebank">Google Pay</a>
                                </h3>

                                <div class="collapse" id="collapsebank">
                                    <div class="py-2">
                                        <p class="mb-0">Make your payment directly into our bank account. Please use
                                            your Order ID as the payment reference. Your order won’t be shipped until
                                            the funds have cleared in our account.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="border p-2 mb-3">
                                <h3 class="h6 mb-0">
                                    <a class="d-block" data-bs-toggle="collapse" href="#collapsecheque"role="button" aria-expanded="false" aria-controls="collapsecheque">Upi</a>
                                </h3>

                                <div class="collapse" id="collapsecheque">
                                    <div class="py-2">
                                        <p class="mb-0">Make your payment directly into our bank account. Please use
                                            your Order ID as the payment reference. Your order won’t be shipped until
                                            the funds have cleared in our account.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="border p-2 mb-5">
                                <h3 class="h6 mb-0">
                                <a class="d-block" data-bs-toggle="collapse" href="#collapsepaypal"role="button" aria-expanded="false" aria-controls="collapsepaypal">Credit / Debit Card</a>
                                </h3>

                                <div class="collapse" id="collapsepaypal">
                                    <div class="py-2">
                                        <p class="mb-0">Make your payment directly into our bank account. Please use
                                            your Order ID as the payment reference. Your order won’t be shipped until
                                            the funds have cleared in our account.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <a asp-action="create" asp-controller="order"   class="btn btn-black btn-sm py-3 btn-block">Place Order</a>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
