@{
    ViewData["Title"] = "Dashboard";
}



<div class="container pt-5" style="min-height: 100vh;">

<h2>Welcome to the Buyer Dashboard!</h2>
<p>You have successfully logged in.</p>

<a href="/User/Logout">Logout</a>


</div>



