


<style>

.navbar{
    background-color: black;
    display: flex;

    >ul{
        display: flex;


        >li{
            list-style-type: none;
            color: antiquewhite;
            margin-right: 30px;
        }
    }
}

</style>




<header class="navbar">


      <ul>

        <li>  Home </li>
        <li>  About </li>
        <li>  Contact </li>
        <li>  Services </li>
        <li>  Account </li>

      </ul>


</header>